In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
df = pd.read_csv("sm_vs_sma_dataset2.csv").drop(['Unnamed: 0'], axis=1)

In [3]:
df.head()

,json_id,label,statement,subject,speaker,job_title,state,party_affiliation,barely_true_counts,false_counts,...,offensiveness,political_bias,articles,SM_pred,SMA_pred,SM_prob,SMA_prob,label_num,SM_highest_prob,SMA_highest_prob
0,11972.json,true,Building a wall on the U.S.-Mexico border will...,immigration,rick-perry,Governor,Texas,republican,30,30,...,non-offensive,LEFT,The news about a proposed U.S.-Mexico border w...,3,1,"[0.07225219160318375, 0.20361700654029846, 0.1...","[0.23206095397472382, 0.28984177112579346, 0.2...",5,0.218785,0.289842
1,11685.json,false,Wisconsin is on pace to double the number of l...,jobs,katrina-shankland,State representative,Wisconsin,democrat,2,1,...,non-offensive,RIGHT,The state of Wisconsin faces a grim economic r...,5,1,"[0.020520417019724846, 0.17309464514255524, 0....","[0.08543264865875244, 0.34966841340065, 0.1573...",1,0.310290,0.349668
2,11096.json,false,Says John McCain has done nothing to help the ...,"military,veterans,voting-record",donald-trump,President-Elect,New York,republican,63,114,...,non-offensive,CENTER,"John McCain, a man who once swore to the veter...",1,1,"[0.1354231983423233, 0.378831684589386, 0.1764...","[0.11062765121459961, 0.3078012764453888, 0.19...",1,0.378832,0.307801
3,5209.json,half-true,Suzanne Bonamici supports a plan that will cut...,"medicare,message-machine-2012,campaign-adverti...",rob-cornilles,consultant,Oregon,republican,1,1,...,non-offensive,RIGHT,Recent news has exposed a concerning pattern i...,5,1,"[0.04703858122229576, 0.1957884430885315, 0.09...","[0.13359574973583221, 0.2657632529735565, 0.24...",3,0.324047,0.265763
4,9524.json,pants-fire,When asked by a reporter whether hes at the ce...,"campaign-finance,legal-issues,campaign-adverti...",state-democratic-party-wisconsin,NaN,Wisconsin,democrat,5,7,...,non-offensive,RIGHT,The embattled Governor Scott Walker was found ...,1,0,"[0.11746939271688461, 0.24192717671394348, 0.1...","[0.30564847588539124, 0.2912164330482483, 0.17...",0,0.241927,0.305648

## Policzenie wynikowych entropii prawdopodobieństw modeli w przykładach

In [4]:
df['SM_prob_np'] = df['SM_prob'].apply(lambda x: np.array(ast.literal_eval(x)))
df['SMA_prob_np'] = df['SMA_prob'].apply(lambda x: np.array(ast.literal_eval(x)))

In [5]:
df['SM_prob_entropy'] = df['SM_prob_np'].apply(lambda x: -(x*np.log2(x)).sum())
df['SMA_prob_entropy'] = df['SMA_prob_np'].apply(lambda x: -(x*np.log2(x)).sum())

### Maksymalna entropia

In [6]:
np.log2(6)

2.584962500721156

In [7]:
df.describe()

,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,grammar_errors,ratio_of_capital_letters,SM_pred,SMA_pred,label_num,SM_highest_prob,SMA_highest_prob,SM_prob_entropy,SMA_prob_entropy
count,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000,1283.000000
mean,11.674201,13.356196,17.398285,16.749805,5.958691,0.385814,3.684466,4.334373,2.519096,2.751364,0.311475,0.300031,2.317761,2.331120
std,18.906862,23.845711,35.923600,36.306426,14.977487,0.670310,2.494155,1.372664,1.483735,1.543868,0.051890,0.069913,0.121824,0.176703
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.211310,0.196378,1.683599,0.864005
25%,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.850000,5.000000,1.000000,1.000000,0.277279,0.256059,2.266901,2.268299
50%,3.000000,3.000000,3.000000,3.000000,1.000000,0.000000,3.200000,5.000000,3.000000,3.000000,0.305739,0.285254,2.333477,2.375205
75%,12.000000,16.000000,15.000000,13.000000,6.000000,1.000000,4.760000,5.000000,4.000000,4.000000,0.334950,0.323813,2.393826,2.441286
max,70.000000,114.000000,160.000000,163.000000,105.000000,5.000000,20.930000,5.000000,5.000000,5.000000,0.616164,0.824764,2.560065,2.568019

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1283 entries, 0 to 1282
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   json_id                   1283 non-null   object
 1   label                     1283 non-null   object
 2   statement                 1283 non-null   object
 3   subject                   1283 non-null   object
 4   speaker                   1283 non-null   object
 5   job_title                 954 non-null    object
 6   state                     1019 non-null   object
 7   party_affiliation         1283 non-null   object
 8   barely_true_counts        1283 non-null   int64
 9   false_counts              1283 non-null   int64
 10  half_true_counts          1283 non-null   int64
 11  mostly_true_counts        1283 non-null   int64
 12  pants_on_fire_counts      1283 non-null   int64
 13  context                   1266 non-null   object
 14  justification             1258 non-null   object
 15  sentiment                 1283 non-null   object
 16  question                  1283 non-null   object
 17  grammar_errors            1283 non-null   int64
 18  ratio_of_capital_letters  1283 non-null   float64
 19  curse                     1283 non-null   object
 20  emotion                   1283 non-null   object
 21  gibberish                 1283 non-null   object
 22  offensiveness             1283 non-null   object
 23  political_bias            1283 non-null   object
 24  articles                  1283 non-null   object
 25  SM_pred                   1283 non-null   int64
 26  SMA_pred                  1283 non-null   int64
 27  SM_prob                   1283 non-null   object
 28  SMA_prob                  1283 non-null   object
 29  label_num                 1283 non-null   int64
 30  SM_highest_prob           1283 non-null   float64
 31  SMA_highest_prob          1283 non-null   float64
 32  SM_prob_np                1283 non-null   object
 33  SMA_prob_np               1283 non-null   object
 34  SM_prob_entropy           1283 non-null   float64
 35  SMA_prob_entropy          1283 non-null   float64
dtypes: float64(5), int64(9), object(22)
memory usage: 361.0+ KB

## SM był poprawny a SMA nie (sortowanie po iloczynie prawdopodobieństw)

In [15]:
drop_cols = ['label', 'SM_prob_np', 'SMA_prob_np']

In [16]:
df['sort_key'] = df['SM_highest_prob'] * df['SMA_highest_prob']
SM_correct_SMA_incorrect = df[(df['SM_pred'] == df['label_num']) & (df['SMA_pred'] != df['label_num'])].\
    sort_values('sort_key', ascending=False).\
    head(30)

In [17]:
SM_correct_SMA_incorrect[['SM_pred', 'SMA_pred', 'label_num', 'SM_highest_prob', 'SMA_highest_prob', 'sort_key']].head(2)

     SM_pred  SMA_pred  label_num  SM_highest_prob  SMA_highest_prob  sort_key
236        4         3          4         0.418661          0.375729  0.157303
681        5         3          5         0.342897          0.403790  0.138458

In [18]:
SM_correct_SMA_incorrect.drop(drop_cols, axis=1).to_csv("SM_correct_SMA_incorrect.csv", index=None)

## SM był niepoprawny a SMA tak (sortowanie po iloczynie prawdopodobieństw)

In [20]:
df['sort_key'] = df['SM_highest_prob'] * df['SMA_highest_prob']
SM_incorrect_SMA_correct = df[(df['SM_pred'] != df['label_num']) & (df['SMA_pred'] == df['label_num'])].\
    sort_values('sort_key', ascending=False).\
    head(30)

In [21]:
SM_incorrect_SMA_correct[['SM_pred', 'SMA_pred', 'label_num', 'SM_highest_prob', 'SMA_highest_prob', 'sort_key']].head(2)

,SM_pred,SMA_pred,label_num,SM_highest_prob,SMA_highest_prob,sort_key
497,5,0,0,0.314248,0.539236,0.169454
1255,5,0,0,0.313195,0.505738,0.158395

In [22]:
SM_incorrect_SMA_correct.drop(drop_cols, axis=1).to_csv("SM_incorrect_SMA_correct.csv", index=None)

In [59]:
a={
    'a': np.random.rand(10),
    'b': np.random.rand(10)
}
u = pd.DataFrame.from_dict(a)

In [60]:
u

          a         b
0  0.731365  0.100622
1  0.497563  0.653223
2  0.427026  0.886065
3  0.651708  0.265040
4  0.394311  0.516132
5  0.906551  0.157742
6  0.295557  0.798052
7  0.513212  0.224691
8  0.292676  0.117020
9  0.977761  0.757259

In [61]:
u.sort_values(['a','b'], ascending=False).head(5)

          a         b
9  0.977761  0.757259
5  0.906551  0.157742
0  0.731365  0.100622
3  0.651708  0.265040
7  0.513212  0.224691

In [62]:
u.sort_values(['b','a'], ascending=False).head(5)

          a         b
2  0.427026  0.886065
6  0.295557  0.798052
9  0.977761  0.757259
1  0.497563  0.653223
4  0.394311  0.516132

In [63]:
u['sk'] = u['a']*u['b']

In [64]:
u.sort_values('sk', ascending=False).head(5)

          a         b        sk
9  0.977761  0.757259  0.740418
2  0.427026  0.886065  0.378373
1  0.497563  0.653223  0.325020
6  0.295557  0.798052  0.235870
4  0.394311  0.516132  0.203517

In [65]:
u['a_norm'] = u['a'] / (u['a'] + u['b'])
u['b_norm'] = u['b'] / (u['a'] + u['b'])

In [70]:
u['entropy'] = -(u['a_norm']*np.log2(u['a_norm']))-(u['b_norm']*np.log2(u['b_norm']))
u['sk2'] = (2/3*u['sk'])+(1/3*u['entropy'])

In [71]:
u.sort_values('sk2', ascending=False).head(5)

          a         b        sk    a_norm    b_norm   entropy       sk2
9  0.977761  0.757259  0.740418  0.563544  0.436456  0.988318  0.823051
2  0.427026  0.886065  0.378373  0.325207  0.674793  0.909954  0.555567
1  0.497563  0.653223  0.325020  0.432368  0.567632  0.986761  0.545600
4  0.394311  0.516132  0.203517  0.433098  0.566902  0.987047  0.464693
6  0.295557  0.798052  0.235870  0.270259  0.729741  0.841835  0.437858

In [75]:
SM_correct_SMA_incorrect.index.tolist()

[236,
 681,
 235,
 747,
 729,
 1033,
 94,
 912,
 837,
 1078,
 181,
 528,
 1112,
 1223,
 559,
 69,
 897,
 755,
 547,
 391]

In [78]:
k = set(SM_correct_SMA_incorrect_SM_dominance.index.tolist()).union(set(SM_correct_SMA_incorrect_SMA_dominance.index.tolist()))

In [88]:
SM_correct_SMA_incorrect[SM_correct_SMA_incorrect.index.isin(k)].index

Index([236, 681, 235, 747, 1033, 94, 912, 837, 181, 1112, 897, 391], dtype='int64')

In [94]:
len(SM_correct_SMA_incorrect[SM_correct_SMA_incorrect.index.isin(k)].index.tolist())

12

In [85]:
SM_correct_SMA_incorrect.shape[0]

20

In [90]:
q = k.difference([236, 681, 235, 747, 1033, 94, 912, 837, 181, 1112, 897, 391])

In [93]:
len(q)

7